.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: relative;
    box-sizing: border-box;
}

.header__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px 10px;
    box-sizing: border-box;
}

.header__logo {
    width: 100px;
    height: 100%;
}

.header__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    list-style: none;
    text-decoration: none;
}

.header__title {
    padding: 40px 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #ca3e3e;
    color: #ffffff;
    transition: .5s;
}


@media screen and (min-width: 480px) and (max-width: 1023px) {
    .header__title {
        padding: 40px 20px;
    }
}

@media screen and (min-width: 1024px) {
    .header__title {
        padding: 40px;
    }
}