.card {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 30px #d4d4d4;
}

.card__image {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.card__subtitle {
    margin-top: 10px;
    margin-bottom: 20px;
}

.card__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
}

.card__title {
    font-size: 18px;
    margin-top: 20px;
}

.card__contact {
    display: flex;
    flex-direction: row;
}

.card__contact-info {
    font-size: inherit;
    font-weight: bold;
    background-color: unset;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.card__contact-info:hover {
    opacity: .5;
    transition: .3s;
}

.card__button {
    align-self: center;
    width: max-content;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3e8ff8;
    color: #ffffff;
    transition: .5s;
}

.card__button:hover {
    background-color: #0e73f7;
    transition: .5s;
}