.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
}
